
// Layout =====================================================================
.mw-body {
    padding: 0;
    margin: 0;
}

#bodyContent {
    padding-bottom: 8px;
}

// Typography =================================================================

.contentHeader {
  margin: 4px 0 8px 0;
}

h1.firstHeading {
    font-size: 3.2rem;
    margin: 0 0 4px 0;
    padding: 0;
    border: none;
}

h2 {
    font-size: 2.4rem;

    margin: 2.2rem 0 4px 0;
    padding-bottom: 4px;

    border-bottom: 3px double #DDD;
}
h3 {
    font-size: 2.2rem;

    margin: 2rem 0 4px 0;
    border-bottom: 1px solid #DDD;
    padding-bottom: 2px;
}


h4 {
    font-size: 2.0rem;
    border-bottom: 1px dotted #DDD;
}

a:visited {
    color: @brand-primary;
}

// Navbar =====================================================================

// Top Navbar
#mw-navigation {

    margin-bottom: 0;
    border-bottom: 4px solid #659ED5;
    background: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);

    .navbar-brand {
        padding: 0 4px;

        img {
            max-height: 50px;
        }
    }

    ul.navbar-nav {
        li.dropdown {
            border-right: 1px solid #E7E7E7;
        }
    }

    #ca-nstab-main {
        background: #D8E8F7;
        a, a:active,a:hover {
            color: #3A75B1;
        }
    }

    #ca-form_edit {
        background: #EEE;
    }
    #sf-save-alt {
        background: #E2FFA8;
        a, a:active,a:hover {
            color: #496F00;
        }
    }

    .navbar .dropdown-menu > li.selected > a {
        background-color: transparent;
    }
    .navbar-nav > li > .dropdown-menu {
      margin-top: 3px;
    }

    .caret {
        display: none;
    }
}

body.action-formedit,
body.mw-special-FormEdit {
    #mw-navigation {
        border-color: #CB5A1D;
    }
}



// Category list
#catlinks {

    background: none !important;
    border: none !important;
    padding: 4px 0 0 0 !important;
    margin: 0 0 4px 0 !important;

    li {
        border: none;
        padding: 0;
    }

    li > a {
        font-size: 0.85em;
        background: #888;
        color: #FFF;
        padding: 2px 7px;
        margin: 0 4px;
        margin-bottom: 4px;
        display: inline-block;
        border-radius: 3px;
    }

}

// Bottom Navbar
.p-tb.navbar {
    background: none;
    border: none;
    margin: 8px 0;

    .navbar-nav > li > a {
        padding: 0 0 0 6px;
        background: #EEE;
        border-radius: 3px;
        padding: 1px 8px;
        margin-right: 8px;
        margin-bottom: 4px;
    }
}


// Buttons ====================================================================



// Tables =====================================================================

table.wikitable {
    background-color: #FFF;
    border: 1px solid #CCC;
    font-size: 0.9em;

    tr > td,
    tr > th {
        padding: 2px 4px;
        border: 1px solid #CCC;
    }

    tr > th {
        text-align: left;
    }

}

table.formdata {
    min-width: 420px;
}

tr.highlightRow {
    border-bottom: 3px solid #FFD183;
}


// Forms ======================================================================

// Navs =======================================================================


// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================


.panel-heading {
    padding: 8px 16px;

    .panel-title {
        border: none;
    }
}

.panel-group {
    margin: 14px 0;
}

.accordion {
    .panel {
        border-radius: 4px 4px 0 0;
    }

    .panel-body {
        border-right: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        border-left: 1px solid #DDD;
        padding: 8px 16px;
    }
}

// CUSTOM HEADERTABS STYLE ====================================================

#headertabs.bare {

    background: none !important;

    .ui-widget-content {
        padding: 0 !important;
    }

    .ui-widget-header {
        margin-bottom: 8px;
    }

    .ui-widget-header,
    .ui-widget-content {
        background: none !important;
    }

    .ui-tabs-nav li a {
        padding: 6px 10px 4px 10px !important;
        font-size: 0.9em;
    }

    .ui-widget-content a,
    .ui-widget-content a:visited {
        color: @link-color !important;
    }

    .ui-widget-content a.new {
        color: @link-red-color !important;
    }
}

#headertabs.bare.ui-tabs {
    border-bottom: 4px solid #EEE !important;
    padding: 8px 0 !important;
}


// MOBO display formats =======================================================

.bootstrap-row {
    .row {
        padding: 1px 0;
        border-bottom: 1px dotted #EEE;
    }
    .row-label {
        font-weight: bold;
        text-align: right;
    }

}

@media (max-width: @screen-sm-min) {
    .bootstrap-row .row-label {
        text-align: left;
    }
}


// CUSTOM MW / SMW STYLE ======================================================

/** Misc */

.mw-editsection,
.catlinks-allhidden {
    display:none !important;
}


/** Buttons */

.multipleTemplateAdder,
#wpDiff,
#wpPreview,
#wpSave {
      color: #fff;
      background-color: #337ab7;
      border-color: #2e6da4;

      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
}

#wpSave {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}


/** Message Boxes */

.naming-box,
.description-box,
.infoMessage,
.mobo-generated,
#catlinks {
    display: block;
    padding: 4px 8px;
    margin: 8px 0;
    border: 1px solid #CCC;
    border-radius: 3px;
}
.naming-box {
    border: 1px solid #6BBD12;
    background: #D3E5C7;
}

.description-box {
    border: 1px solid #7EB4EA;
    background: #D8E8F7;
}
.mobo-generated {
    border: 1px solid #E8B028;
    background: #F5ECD7;
}
.infoMessage,
#catlinks {
    border: 1px solid #E7E7E7;
    background: #F8F8F8;
}

/** Tags */
.mobo-tag-light a {
    font-size: 0.9em;
    line-height: 1em;
    padding: 4px 6px;
    margin: 4px 4px 4px 0;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #337AB7;
}
.mobo-tag-light a.new {
    border: 1px solid #E38686;
}
.mobo-tag-light a:hover {
    opacity: 0.8;
}
a.mobo-tag {
    font-size: 11px;
    line-height: 1em;
    background: #444;
    color: #FFF;
    padding: 4px 8px 3px 8px;
    margin-left: 8px;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}
a.mobo-tag:hover {
    opacity: 0.9;
    color: #FFF;
    text-decoration: none;
}
a.mobo-tag-inBearbeitung {
    background: #D59F0F;
}
a.mobo-tag-falsch {
    background: #B63D13;
}
a.mobo-tag-ungenuegend {
    background: #841DB8;
}
a.mobo-tag-veraltet {
    background: #B97A57;
}



/** Booleans (Checkboxes) */
.td-true {
    color: #91BD1C;
}
.td-false {
    color: #CF5642;
}


// CUSTOM SEMANTIC FORMS  STYLE ===============================================

/** INPUT FIELD STYLE */

#sfForm {

    .sfFormContainer {
        border: 1px solid #DDD;
        border-radius: 3px;
        padding: 4px 10px;
    }
    .multipleTemplateInstance .sfFormContainer {
        border: none;
        padding: 0;
    }
    fieldset {
      border: 1px solid #DDD;
      border-radius: 3px;
    }
    .createboxInput,
    .mandatoryField,
    textarea {
        width: 380px;
        max-width: 382px !important;
    }
    .select2-container {
        width: 372px !important;
    }
    .select2-container-multi {
        width: 382px !important;
    }

    td.instanceRearranger {
        width: 10px;
    }

}


.sf-select2-dropdown {
    width: 382px !important;
}
.select2-choices,
.select2-choice, {
    width: 380px;
}

.select2-choice {
    width: 372px;
}
.select2-container-multi .select2-choices {
    border-color: #BBB !important;
    border-bottom: 3px double #BBB !important;
}

.autoGrow {
  width: 276px;
}
.multipleTemplateInstance {
    max-width: 740px;
    background: #F3F3F3 !important;
}
#sf_free_text {
    width: 100%;
    min-width: 100%;
}


/** Mobo Responsive Forms */
.sfFieldRow {
    margin: 8px 0;
}
.sfFieldLabel {
    padding-right: 0;
    font-weight: bold;
    text-align: right;
    .simple-tooltip-inline {
        border-bottom: 1px solid #C8C8C8;
        padding-bottom: 1px;
    }
}
@media (max-width: @screen-sm-min) {
    .sfFieldLabel {
        text-align: left;
    }
}
.sfFieldLabel::after {
    content: "*";
    margin-left: 3px;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
    opacity: 0;
}
.mandatoryInput {
    .sfFieldLabel::after {
        color: #E16761;
        opacity: 1;
    }
}
.recommendedInput {
    .sfFieldLabel::after {
        color: #FFB93D;
        opacity: 1;
    }
}

.checklistForm {
    .sfFormContainer {
        background: #FBFFF6 !important;
        border: 1px solid #70C00C !important;
    }
    .sfFieldLabel {
        min-width: 320px;
    }
    .sfFieldContent {
        width: auto;
    }
    .sfFieldRow {
        max-width: none;
        border-bottom: 1px solid #DDD;
        margin: 4px 0;
        padding-bottom: 4px;
    }
}
.formdata {
    td.Ja {
        background-color: #5CA500;
        color: #FFF;
    }
    td.Nein {
        background-color: #9D2114;
        color: #FFF;
    }
    td.Unbekannt {
        background-color: #D19800;
        color: #FFF;
    }
}

.ui-state-active,
.ui-widget-content {
    background: #FCFCFC !important;
}
