
// Navbar =====================================================================

#mw-navigation {

    margin-bottom: 0;
    border-bottom: 4px solid #659ED5;

    .navbar-brand {
        padding: 0 4px;

        img {
            max-height: 50px;
        }
    }

    ul.navbar-nav {
        li.dropdown {
            border-right: 1px solid #E7E7E7;
        }
    }
}

body.action-formedit {
    #mw-navigation {
        border-color: #CB5A1D;
    }
}



// Buttons ====================================================================

// Typography =================================================================

.contentHeader {
  margin: 4px 0 8px 0;
}

h1.firstHeading {
    margin: 0 0 4px 0;
    padding: 0;
    border: none;
}

h2 {
    font-size: 2.8rem;
    margin: 8px 0 4px 0;
    padding-bottom: 2px;
    border-bottom: 1px solid #DDD;
}
h3 {
    font-size: 2.4rem;
}

h4 {

}

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================

// CUSTOM MW / SMW STYLE ======================================================

.mw-editsection {
    display:none !important;
}

.naming-box,
.description-box,
.infoMessage,
#catlinks {
    padding: 4px 8px;
    margin: 8px 0;
    border: 1px solid #CCC;
    border-radius: 3px;
}
.naming-box {
    border: 1px solid #6BBD12;
    background: #D3E5C7;
}

.description-box {
    border: 1px solid #7EB4EA;
    background: #D8E8F7;
}
.infoMessage,
#catlinks {
    border: 1px solid #E7E7E7;
    background: #F8F8F8;
}


a.mobo-tag {
    font-size: 11px;
    line-height: 1em;
    background: #444;
    color: #FFF;
    padding: 4px 8px 3px 8px;
    margin-left: 8px;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}
a.mobo-tag:hover {
    opacity: 0.8;
    text-decoration: none;
}
a.mobo-tag-inBearbeitung {
    background: #D59F0F;
}
a.mobo-tag-falsch {
    background: #B63D13;
}
a.mobo-tag-ungenuegend {
    background: #841DB8;
}
a.mobo-tag-veraltet {
    background: #B97A57;
}
.mobo-generated {
    display: block;
    border: 1px solid #E8B028;
    background: #F5ECD7;
    padding: 2px 8px;
    border-radius: 3px;
    margin: 8px 0;
}
.td-true,
.td-false {
    color: #FFF;
    text-align: center;
}
.td-true {
    background: #91BD1C;
}
.td-false {
    background: #CF5642;
}


// CUSTOM SEMANTIC FORMS  STYLE ===============================================

/** INPUT FIELD STYLE */

#sfForm .sfFormContainer {
    border: 1px solid #DDD;
    border-radius: 3px;
    padding: 4px 10px;
}
#sfForm .multipleTemplateInstance .sfFormContainer {
    border: none;
    padding: 0;
}
#sfForm fieldset {
  border: 1px solid #DDD;
  border-radius: 3px;
}
#sfForm .createboxInput,
#sfForm .mandatoryField,
#sfForm textarea {
    width: 364px;
    max-width: 382px !important;
}
#sfForm .select2-container {
    width: 372px !important;
}
#sfForm .select2-container-multi {
    width: 382px !important;
}
.sf-select2-dropdown {
    width: 382px !important;
}
.select2-choices,
.select2-choice, {
    width: 380px;
}

.select2-choice {
    width: 372px;
}
.select2-container-multi .select2-choices {
    border-color: #BBB !important;
    border-bottom: 3px double #BBB !important;
}

.autoGrow {
  width: 276px;
}
.multipleTemplateInstance {
    max-width: 740px;
}
#sf_free_text {
    width: 100% !important;
    max-width: 800px !important;
}

/** Responsive Forms */
.sfFieldRow {
    margin: 8px 0;
    max-width: 640px;
}
.sfFieldLabel {
    display: inline-block;
    padding-right: 2px;
    width: 25%;
    min-width: 80px;
    max-width: 160px;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    .simple-tooltip-inline {
        border-bottom: 1px solid #C8C8C8;
        padding-bottom: 1px;
    }
}
.sfFieldLabel::after {
    content: "*";
    margin-left: 2px;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
    opacity: 0;
}
.mandatoryInput {
    .sfFieldLabel::after {
        color: #E16761;
        opacity: 1;
    }
}
.recommendedInput {
    .sfFieldLabel::after {
        color: #FFB93D;
        opacity: 1;
    }
}

.sfFieldContent {
    display: inline-block;
    width: 70%;
    max-width: 460px;
}
.checklistForm {
    .sfFormContainer {
        background: #FBFFF6 !important;
        border: 1px solid #70C00C !important;
    }
    .sfFieldLabel {
        min-width: 320px;
    }
    .sfFieldContent {
        width: auto;
    }
    .sfFieldRow {
        max-width: none;
        border-bottom: 1px solid #DDD;
        margin: 4px 0;
        padding-bottom: 4px;
    }
}
.formdata {
    td.Ja {
        background-color: #5CA500;
        color: #FFF;
    }
    td.Nein {
        background-color: #9D2114;
        color: #FFF;
    }
    td.Unbekannt {
        background-color: #D19800;
        color: #FFF;
    }
}
table.formdata {
    min-width: 400px;
}
table.formdata td,table.formdata th {
    padding: 2px 4px;
}
.ui-state-active,
.ui-widget-content {
    background: #FCFCFC !important;
}



/* HeaderTabs Adjustments */
#headertabs {
    background: none !important;

    .ui-widget-header,
    .ui-widget-content {
        background: none !important;
    }
    .ui-tabs .ui-tabs-panel {
        padding: 0 !important;
    }
}


/* ??? */
.action-formedit {
    #ca-form_edit {
        background: #FFF;
        background-image: none;
    }
}
